<h1>Editing countdown</h1>

<%= render "form", countdown: @countdown %>

<br>

<div>
  <%= link_to "Show this countdown", @countdown %> |
  <%= link_to "Back to countdowns", countdowns_path %>
</div>
